**Pengenalan** **Tipe** **Data** **Dasar** **Python**

Python memiliki 3 (tiga) tipe data dasar, yaitu :
1. Number
2. String
3. Boolean

**Number** memiliki 3 tipe data bilangan yaitu :
1. Integer
2. Float
3. Complex

**Integer** 

*   Integer menyatakan bilangan bulat
*   Mengenal nilai positif dan negatif
*   DIbatasi oleh besarnya memori yang tersedia

In [ ]:
a = 8
print(a)
type(a)

8

int

In [ ]:
b =-999
print(b)
type(b)

-999

int

In [ ]:
c= 12345678910111213141516
print(c)
type(c)

12345678910111213141516

int

**Float**

*   Dipergunakan untuk variabel yang memiliki nilai pecahan/desimal (bilangan real)
Panjang dari data float  dibatasi mencapai 17 angka dibelakang koma
*   Panjang dari data float  dibatasi mencapai 17 angka dibelakang koma
*   Pemisah dari bilangan desimal menggunakan titik(.)

In [ ]:
lebar = 5.5
print(lebar)
type(lebar)

5.5

float

In [ ]:
IPK = 3.62
print(IPK)
type(IPK)

3.62

float

In [ ]:
#hanya akan menampilkan 17 angka
phi = 3.1459265358979323846264338327950288
print(phi)
type(phi)

3.1459265358979325

float

**Complex**


*   Mempesentasikan nilai imajiner

In [ ]:
a = 3j
print(a)
type(a)

3j

complex

In [ ]:
ab = 5+10j
print(ab)
type(ab)

(5+10j)

complex

In [ ]:
a = 3j
b = 27j
c = a + b
print(a, '+',b, '=',c)
type(c)

3j + 27j = 30j

complex

**String**


*   String berfungsi untuk menampilkan teks
*   String adalah kumpulkan karakter
*   Data String harus diapit oleh tanda kutip, baik kutip satu ('') maupun tanda kutip dua ("") setelah karakter sama dengan (=)

In [ ]:
#Contoh dengan kutip satu('')
Studi ='Data Science Track'
print(Studi)
type(Studi)

Data Science Track

str

In [ ]:
#Contoh dengan kutip dua ("")
Studi = "Data Science Track"
print(Studi)
type(Studi)

Data Science Track

str



*   String merupakan tipe data yang memiliki indeks
*   Indeks dimulai dari 0 apabila dimulai dari depan
*   Indeks dimulai dari -1 apabila dimulai dari belakang
*   Tiap Karakater dapat diakses menggunakan indeks

In [ ]:
kalimat = "Studi Independen My Edu Solve"

In [ ]:
#print string lengkap
print(kalimat)

Studi Independen My Edu Solve

In [ ]:
#print string karakter pertama
print(kalimat[0])

S

In [ ]:
#print string karakter terakhir
print(kalimat[-1])

e

In [ ]:
#print dari indeks 0-16
print(kalimat[0:16])

Studi Independen

In [ ]:
#print dari indeks 17-29
print(kalimat[17:29])

My Edu Solve

In [ ]:
#Menulis kata string dalam menjadi baris menggunakan ("""")
Alamat = """ Jl. Pahlawan no.9, 
Kel. Mugas Sari, Kec. Semarang Selatan,
Kota Semarang, Jawa Tengah, 50249 """
print(Alamat)
type(Alamat)

 Jl. Pahlawan no.9,
Kel. Mugas Sari, Kec. Semarang Selatan,
Kota Semarang, Jawa Tengah, 50249

str

In [ ]:
#Menulis kata string dalam menjadi baris menggunakan (\n)
Alamat = "Jl. Pahlawan no.9,\nKel.Mugas Sari, Kec. Semarang Selatan,\nKota Semarang, Jawa Tengah, 50249"
print(Alamat)
type(Alamat)

Jl. Pahlawan no.9,
Kel.Mugas Sari, Kec. Semarang Selatan,
Kota Semarang, Jawa Tengah, 50249

str

In [ ]:
#Penjumlahan String
#Merupakan penggabungan (concat)
#Penjumlahan harus menggunakan string dengan string

In [ ]:
"hori" + "zontal"

'horizontal'

In [ ]:
'Heksa' + 'desimal'

'Heksadesimal'

In [ ]:
"20" + "22"

'2022'

Contoh perbedaan penjumlahan data numerik dan data string

In [ ]:
#Penjumlahan data numerik
print(2+1)

3

In [ ]:
#Penjumalahan data string
print("2"+"1")

21

In [ ]:
#Perkalian String 
#Operasi perkalian harus menggunakan bilangan bulat
#Menampilkan teks sebanyak jumlah pengali

In [ ]:
'kura'*2

'kurakura'

In [ ]:
'dia'*5

'diadiadiadiadia'

**Boolean**


*   #Hanya menyimpan dua nilai "True" dan "False"
Output berupa boolean
*   Boolean berfungsi mengontol laju dan alur program yang kita bangun
*   Output berupa boolean (True/False)

In [ ]:
#Contoh
# 3 > 4 dibaca 3 lebih besar dari 3 maka pernyataan tersebut salah/False
3 > 4

False

In [ ]:
#Contoh
# 8 > 2 dibaca 8 lebih besar dari 2 maka pernyataan tersebut benar/True
8 > 2

True

In [ ]:
#Contoh
# 3 < 4 dibaca 3 lebih kecil dari 4 maka pernyataan tersebut benar/True
3 < 4

True

In [ ]:
#Contoh
# 8 < 2 dibaca 8 lebih kecil dari 2 maka pernyataan tersebut salah/False
8 < 2

False

In [ ]:
#Contoh
# 10 <= 10 dibaca 10 kurang dari sama dengan 10 maka pernyataan tersebut benar/True
10 <= 10

True

Catatan :
*   Lambang operator pembanding : ==
*   Lambang opertaro : = berfungsi untuk memasukan/input nilai
*   Operator pemabandingan == tidak sama dengan =

In [ ]:
3 == 3

True

In [ ]:
5 == 7

False

In [ ]:
9 == 3*3

True